* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: .6rem;
}

main {
    display: flex;
    flex-direction: row;
    flex: 1;
}

article {
    flex: 2;
    overflow-y: auto;
    padding: .6rem;
    text-align: center;
    border: 1px solid black;
}

aside {
    flex: 1;
    padding: .6rem;
    border: 1px solid black;
}

header,
footer {
    flex: none;
    border: 1px solid black;
    padding: .6rem;
    background: tan;
  
}


ul {
    display: flex;
    align-items: center;
    justify-content: left;
}

li {
    list-style: none;
    margin-right: 1rem;
}

a {
  text-decoration: none;
  color: none;
  
}
